body{
    background-color: white;
    color: black;
}

a{
    font-size: 20px;
    padding: 15px;
    color: white;
    text-decoration: none;
}

header{
    background: linear-gradient(white,blue,blue,red,red,blue,blue, white)
    
}
.ul1{
   list-style: none;
   margin: 0;
   padding: 25px;

}
a:hover{
    color: blue;
    text-decoration: none;
}
.ul1 li{
    display: inline;
}
ul{
    list-style: none;
}