*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f7f8;
}
header{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    line-height: 50px;
    margin-bottom: 70px;
    
    /* border-bottom: 0.3px solid silver; */
}
.head_nav li{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
    display: inline;
}
.head_text {
    padding: 10px;
    font-weight: 100;
}
.head_logo{
    margin-left: 280px;
    margin-right: 45px;
    line-height: 30px;
}
.log{
    margin-left: 535px;
    
}
.log1{
    padding: 7px;
    border: 0px solid;
    border-radius: 7px;
    color: #126df7;
    background-color: transparent;
    font-size: 14px;
}
.log1:hover{
 background-color:#f6f7f8;
}
.logo_log{
    width: 12px;
    height: 12px;
}
pre{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 35px;
}
.card1{
    display: flex;
    justify-content: center; 
}
.card{
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 19px;
    padding-right: 19px;
    border: 0px solid;
    background-color: #ffdd2d;
    color: black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
    
}
.main_img1{
    display: flex;
    justify-content: center;
}
.main_img{
    width: 650px;
}
.card:hover{
    cursor:pointer;
}